body {
  font-family: 'PT Sans Caption';
  background-image: url('./flish.gif');

  /* https://im4.ezgif.com/tmp/ezgif-4-b14586f806.gif */

  /* https://im4.ezgif.com/tmp/ezgif-4-71f5c719de.gif */
  background-repeat: no-repeat;
  background-color: rgb(255, 251, 127);
  background-size: cover;
}

a {
  text-decoration: none;
  color: orange;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

a:visited {
  text-decoration: none;
  color: orange;
}

label {
  color: '#283593';
}
input {
  background-color: rgba(127, 255, 212, 0);
}
button {
  background-color: #283593;
  color: orange;
  padding: 15px 32px;
  font-size: 16px;
}
#goog {
  background-color: #283593;
  color: orange;
}
#confirm,
#userhome,
#logsub {
  background-color: orange;
  color: #283593;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
